
.icon-home:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-flag:before { content: '\e80c'; } /* '' */