.button {
    display: inline-block;
    background-color:#1f4474;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    color: #fff;
    border: 0;
    line-height: 0em;
    text-decoration: none;
}

.button:hover {
    color: #1f4474;
    background-color: #fff;
    text-decoration:none;
}

.button2 {
    display: inline-block;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    color: #fff;
    border: 0;
    line-height: 0em;
    text-decoration: none;
}

.button2:hover {
    color: #1f4474;
    background-color: #fff;
    text-decoration:none;
}

ul li {
text-decoration:none;
}

li:before {
 ""   
}

li {
text-decoration: none;   
}

a {
text-decoration::none;
}



.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.banner {
    background-color: #5f93d0;
    margin: 0em 2em;
    padding: 2em;
}

.white {
    color: white;
}

.center {
    margin: auto 44%;
}

h2 {
    font-size: 1.4em;
    font-weight:lighter;
    font-style:normal;
    font-family: Helvetica, sans-serif;
}

span {
font-size: 1.2em;   
}